.navbar{
    background-color: blue;
    color: whitesmoke;
}

.box{
    border: 2px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}